@media only screen and (min-width: 320px) and (max-width: 767px){
    .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
    header {
        justify-content: space-between;
    }
    /* .nav-list{
        flex-flow: column nowrap;
    }
    .hamburger {
       display: block;
       margin-top: 10px;
    }
    .hamburger-react {
        display: flex;
      } */
    
}

.header-container {
    /* background-color: rgba(255, 255, 255, 0.86); */
    background-color: aqua;
    backdrop-filter: blur(5px);
    z-index: 100;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

header {
    width: 100%;
    padding: 8px 0px;
    display: flex;
    margin: 0px 15%;
    /* background-color: red; */
    justify-content: space-between;
    background-color: green;
}

.header-left {
    background-color: beige;
    display: flex;
    align-items: center;
}

.header-right {
    background-color: blue;
    display: flex;
    align-items: center;
}

.Ul {
    display: flex; 
    list-style: none;
}

.Ul > li {
    margin-right: 2em;
}

.Navigation {
    display: flex;
}

.MobileNav {
    display: none;
}
@media  screen and (min-width: 320px) and (max-width: 767px){
    .MobileNav {
        display: flex;
        align-items: center;
        background-color: grey;
    }
    .Ul {
        flex-flow: column nowrap;
    }

    .Navigation {
        display: none;
    }
}


/* .nav-list > li {
    margin-right: 1em;
    position: relative;
}

.nav-list > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange; /* Change the color to your preference */
    /* transition: width 0.3s ease-in-out;
  } */
  
  /* .nav-list > li:hover::after {
    width: 100%;
  } */ 

  

  /* .nav-menu {
    background-color: red;
    display: flex;
    flex-direction: row;
} */

/* .header-right {
    background-color: aqua; 
    display: flex;
    align-items: center;
}  */

/* .nav-menu {
    display: flex;
    background-color: red;
    align-items: center;
    /* flex-direction: ${({isOpen}) => (isOpen ? 'column' : 'row')}; */

